.slide {
  text-align: center;
  width: 1480px;
  height: 500px;
  &__modal {
  }
  &__button {
    padding-top: 350px;
    &-field {
    display: inline-block;
    background-color: #3c82f6;
    border: 2px Solid #3c82f6;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 55px;
    width: 120px;
    font-size: 25px;
    &:hover {
      background-color: white;
      color: #3c82f6;
      transition: .3s;
    }
    }
  }
}