.navbar {
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 1480px;
  align-items: center;
  border-bottom: 2px Solid grey;
  &__item {
    &-button {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 300px;
    align-items: center;
    cursor: pointer;
    fill: gray;
    color: gray;
    &._isActive,
    &:hover {
      fill: #0387f6;
      color: #0387f6;
      border-bottom: 4px Solid #0387f6;
      margin-top: 4px;
    }
    &-img {
      height: 60px;
      width: 60px;
    }
    &-text {
      font-family: sans-serif;
      font-size: 20px;
      margin: 0 10px;
    }
  }
}
}
.first {
  font-size: 30px;
}
.last {
  font-size: 35px;
}
.even {
  color: green;
  background-color: grey;
}
.odd {
  color: blue;
}