<ul class="navbar">
	<ng-container *ngFor="let button of buttons;">
		<li class="navbar__item">
			<button class="navbar__item-button"
			        [class._isActive]="button.isActive"
			        (click)="changeItem(button.id)">
				<svg class="navbar__item-button-img"
				     [attr.data-src]="button.icon">
				</svg>
				<p class="navbar__item-button-text">{{button.name}}</p>
			</button>
		</li>
	</ng-container>
</ul>
<div *ngFor="let item of items" [ngSwitch]="buttonId">
	<div *ngSwitchCase=item.id>{{item.name}}</div>
</div>